body {
  background-color: rgb(176,224,230);
}

.plantWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
/*  border: 1px solid black;*/
  margin: 0 auto;
  z-index: 2;
}

.potWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  z-index: 2;
}

.potLip {
  border-bottom: 100px solid rgb(226, 114, 91);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: rotate(180deg);
  height: 0;
  width: 250px;
  border-radius: 5px;
  z-index: 10;
}

.potLipShadow {
  background-color: rgb(188, 71, 47);
  height: 10px;
  width: 220px;
  z-index: 10;
}

.potBase {
  border-bottom: 150px solid rgb(226, 114, 91);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: rotate(180deg);
  height: 0;
  width: 200px;
  z-index: 10;
}

.cactusWrap {
  animation: grow 2s ease-in 1;
  position: absolute;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0% {
    bottom: 120px;
  }
  100% {
    bottom: 350px;
  }
}

.cactusCenter {
  width: 150px;
  height: 250px;
  border-radius: 50% 50% 0 0;
  background-color: rgb(50, 205, 50);
  z-index: 1;
}

.cactusEyes {
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
}

.eye {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  z-index: 2;
  margin-top: -100px;
}

.eyeOverlay {
  background-color: rgb(50, 205, 50);
  z-index: 3;
  margin-top: 5px;
  animation: blink 2s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cactusSmile {
  position: absolute;
  width: 70px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  z-index: 2;
  margin-top: -50px;
  margin-left: 40px;
  animation: smile 2s ease-in-out 0s infinite;
}

@keyframes smile {
  0% {
    height: 10px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 10px;
  }
}

.petal {
  border-radius: 2% 50%;
  height: 20px;
  width: 20px;
  opacity: 1;
  position: absolute;
  background-color: magenta;
  z-index: 3;
}

.petal1 {
  margin-left: -15px;
  margin-top: -10px;
}

.petal2 {
  margin-left: 0px;
  margin-top: -15px;
  transform: rotate(45deg);
}

.petal3 {
  margin-left: 15px;
  margin-top: -10px;
  transform: rotate(90deg);
}

.petal4 {
  margin-left: 15px;
  margin-top: 10px;
}

.petal5 {
  margin-left: 0px;
  margin-top: 15px;
  transform: rotate(45deg);
}

.petal6 {
  margin-left: -15px;
  margin-top: 10px;
  transform: rotate(90deg);
}

.cactusBud {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  opacity: 1;
  z-index: 4;
}

.cactusFlower {
  margin: 40%;
}

.cactusFlowerWrap {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: -250px;
  margin-left: -20px;
  animation: bloom 2s ease-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bloom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(720deg);
    transform-origin: 50% 50%;
  }
}

.spikeLeft {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent rgb(50, 205, 50) transparent transparent;
  z-index: 0;
}

.spikeRight {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent rgb(50, 205, 50);
  z-index: 0;
}

.spike1 {
  margin-left: -10px;
  margin-top: -10px;
}

.spike2 {
  margin-left: -10px;
  margin-top: -30px;
}

.spike3 {
  margin-left: -10px;
  margin-top: -50px;
}

.spike4 {
  margin-left: -10px;
  margin-top: -70px;
}

.spike5 {
  margin-left: -10px;
  margin-top: -90px;
}

.spike6 {
  margin-left: -10px;
  margin-top: -110px;
}

.spike7 {
  margin-left: -10px;
  margin-top: -130px;
}

.spike8 {
  margin-left: -9px;
  margin-top: -150px;
}

.spike9 {
  margin-left: -6px;
  margin-top: -170px;
  transform: rotate(10deg);
}

.spike10 {
  margin-left: -1px;
  margin-top: -190px;
  transform: rotate(15deg);
}

.spike11 {
  margin-left: 6px;
  margin-top: -210px;
  transform: rotate(23deg);
}

.spike12 {
  margin-left: 18px;
  margin-top: -230px;
  transform: rotate(32deg);
}

.spike13 {
  margin-left: 38px;
  margin-top: -250px;
  transform: rotate(50deg);
}

.spike14 {
  margin-left: 150px;
  margin-top: -10px;
}

.spike15 {
  margin-left: 150px;
  margin-top: -30px;
}

.spike16 {
  margin-left: 150px;
  margin-top: -50px;
}

.spike17 {
  margin-left: 150px;
  margin-top: -70px;
}

.spike18 {
  margin-left: 150px;
  margin-top: -90px;
}

.spike19 {
  margin-left: 150px;
  margin-top: -110px;
}

.spike20 {
  margin-left: 150px;
  margin-top: -130px;
}

.spike21 {
  margin-left: 149px;
  margin-top: -150px;
}

.spike22 {
  margin-left: 146px;
  margin-top: -170px;
  transform: rotate(-10deg);
}

.spike23 {
  margin-left: 141px;
  margin-top: -190px;
  transform: rotate(-14deg);
}

.spike24 {
  margin-left: 133px;
  margin-top: -210px;
  transform: rotate(-22deg);
}

.spike25 {
  margin-left: 120px;
  margin-top: -230px;
  transform: rotate(-35deg);
}

.spike26 {
  margin-left: 100px;
  margin-top: -250px;
  transform: rotate(-50deg);
}

.spike27 {
  margin-left: 70px;
  margin-top: -260px;
  transform: rotate(-90deg);
}

